* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("background.jpg") fixed;
    background-size: cover;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;

}

/* Left panel */
.left-panel {
    width: 24%;
    max-width: 400px;
    min-width: 266px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left-top {
    height: 60vh;
    background-color: #cecece;
    color: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
}


.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.name-position, .about, .contacts {
    margin-top: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.left-bottom {
    flex: 40%;
}

/* Right panel */
.right-panel {
    width: 75%;
    max-width: 1450px;
    min-width: 560px;
    color: black;
    padding: 1% 8% 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h3.paragraph{
    font-style: italic;
}
.projects {
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 10px;
}

.certifications{
    max-height: 13vh;
    overflow-y: auto;
    padding-right: 10px;
}

.education{
    max-height: 20vh;
    overflow-y: auto;
    padding-right: 10px; /* hogy ne takarja el a scrollbar a tartalmat */
}
.projects::-webkit-scrollbar,.certifications::-webkit-scrollbar,.education::-webkit-scrollbar {
    width: 8px;
}
.projects::-webkit-scrollbar-thumb,.certifications::-webkit-scrollbar-thumb,.education::-webkit-scrollbar-thumb{
    background-color: #c2c1c1;
    border-radius: 10px;
}
/* Project box */
.project-box {
    background-color: #cecece;
    color: black;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}
.project-box a{
    text-decoration: none;
    color: inherit;
}
.skills {
    margin-top: 10px;
    margin-bottom:10px;
}
.skill-tag {
    background-color: #c57f4c;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 2px;
}
.project-content {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}




.project-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.project-image img {
    max-width: 150px;
    max-height: 100px;
    border-radius: 20px;
}
/* Certifications */
.certification-box {
    background-color: #cecece;
    color: black;
    width: 45%;
    min-width:320px;
    max-width: 400px;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.certification-box.finished {
    background-color: #c57f4c;
}
.certification-box.finished a{
    text-decoration: none;
    color:black;
}

.certification-box.ongoing {
    background: linear-gradient(90deg,#c57f4c 50%, #cecece 50%);
}

/* Education */
.education-box {
    background-color: #cecece;
    color: black;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}
@media (max-width: 1360px) {
    .contacts {
        display: block;
    }
    #contacts-title {
        text-align: left;
    }
    .contact-item {
        display: inline-block;
        margin-right: 10px;
    }
    .contact-item p {
        display: none;
    }
    .contact-item img {
        width: 24px;
        height: 24px;
    }
    .left-top {
        height: auto;
        min-height: unset;
    }
}
@media (max-height: 910px) {
    .left-top {
        min-height: 546px;
    }
}

@media (max-width: 768px) {
    .container {
        height: auto;
        min-height: 100vh;
    }
}

/* --- SNOWWW --- */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}